*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

.max-width{
    max-width: 1400px;
    margin: auto;
}

body{
    padding: 0px 5px;
}

.margin-auto{
    margin: auto;
}

.df{
    display: flex;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{

    justify-content: space-between;
    padding: 15px 4%;
    align-items: center;
    position: relative;
}



.nav{
    width: 70%;
    justify-content: space-between;
}

.nav-list{
    width:70%;
    justify-content: space-between;
}

.nav-link a{
    text-decoration: none;
    color: black;
}

.nav-login{
    justify-content: space-between;
  width: 15%;
  font-size: 18px;
}

.nav-search p{
    padding-right: 10px;
}

.nav-search i{
    font-size: 18px;
}

.logo h1{
    font-weight: 900;
}

.container{
    background-color: #f9fafa;
    width: 100%;
}

.nav-menu{
    font-size: 20px;
    font-weight: 900;
}

.box{
    width: 100%;
    flex-flow: wrap;
}

.boxes{
    width: 100%;
    padding: 40px;
}


.slider{
   width: 100%;
   flex-wrap: wrap;
   padding: 20px;
}

.slider-content{
    width: 50%;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px; 
}

.dummy-txt{
    margin-top:20px;
    margin-bottom: 20px;
}

.slider-img{
    width: 50%;
    padding: 20px;
    align-items: center;
    flex-wrap: wrap;
}

.slider-img img{
    width: 100%;
}

.slider-btn  button{
    width: 165px;
    height: 50px;
    border: none;
    color: #f9fafa;
    margin: 5px;
}

.slider-btn{
 padding: 0px 20px;
 flex-wrap: nowrap;
}

.title h1{
    font-size: 40px;
}


.org-color{
    background-color: #f89646;
    font-size: 18px;
}
.org-color:hover{
    border:1px solid  #f89646;
    color: #f89646;
    background-color: transparent;

}

.blue-color{
    background-color: #6bb7be;
    font-size: 18px;
}
.blue-color:hover{
    border:1px solid  #6bb7be;
    color: #6bb7be;
    background-color: transparent;

}



.container1{
    width: 100%;
    flex-wrap: wrap;
}

.mid{
    width: 80%;
    flex-wrap: wrap;
    padding: 30px;
}
.our-furneture{
    padding: 14px;
}

.box1{
    width:100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.boxes1{
    width: 33.33%;
    padding: 14px;
    flex-wrap: wrap;

}


.box3{
    width:100%;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    
}

.boxes3{
    width: 33.33%;
    padding: 14px;
    flex-wrap: wrap;

}

.content1{
   padding: 40px;
   background-color: #f9fafa;
   width: 100%;
}
.content2{
 
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
   width: 100%;
}

.mid h1{
    font-size: 35px;
    font-weight: 900;
}
.fur-img img{
    width: 100%;
    height: 100%;
}

.fur-img{

    height: 300px;
}

.name span{
    color: #6bb7be;
}

.price{
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}

.price-btn button{
    border: none;
    background-color:transparent;
    color: #6bb7be;
    font-size: 17px;
}




.name h3{
    font-size: 18px;
    font-weight: 600;
}

.name{
    width: 75%;
}
.price-btn{
    width: 25%;
}

.container2{
    background-color: #f9fafa;
    padding: 25px;
}

.box2{
    width: 100%;
    padding: 25px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



.boxes2{
    width: 50%;
    padding: 25px;
}

.about-img{
    width: 100%;
    height: 35vh;
}

.about-img img{
    width: 100%;
    height: 100%;
}

.about-us{
  display: flex;
  flex-direction: column;
  justify-content: center;
   width: 100%;
   height: 100%;
}


.a-content{
    margin: 20px 0px;
}

.a-title{
    font-size: 23px;
}

.a-btn button{
    width: 165px;
    height: 40px;
    font-size: medium;
    color: #f9fafa;
    background-color: #6bb7be;
    border: none;
}

.a-btn:hover button{
    border:1px solid  #6bb7be;
    color: #6bb7be;
    background-color: transparent;

}

.price1{
    flex-direction: column;
    padding: 20px;
}


.box3{
    justify-content: center;
}

.fur-img1{
    width: 100%;
    height: 25vh;
}

.fur-img1 img{
    width: 100%;
    padding: 0;
    height: 100%;
    
}


.t1{
   width: 100%; 
   padding: 40px;
}

.ts1{
    width: 100%;
    padding: 10px 30px;
    flex-wrap:wrap ;
    justify-content: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.t-img{
    width: 25%;
    height: 25%;
    padding: 12px 30px;
}

.t-img img{
   width: 100%;
    border-radius: 50%;
    height: 100%;
   border:10px solid #6bb7be;
}

.t-c{
    width: 75%;
    align-self: center;
    line-height: 30px;
    padding: 20px;
}

.t-c h2{
    color: #6bb7be;
    font-weight: 500;
}

.c{
    background-color: #f9fafa;
    width: 100%;

    padding: 40px;
}



.b{
    
    width: 100%;
    flex-wrap: wrap;
    padding: 40px;   
}

.bs1{
    width: 50%;
    padding: 20px;   
}

iframe{
    width: 100%;
    height: 70vh;
}

form{
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    color: black;
}


form h1{
    font-size: 40px;
    font-weight: 900;
    
    margin-bottom: 20px;
}

input{
    width: 100%;
    height: 40px;
    font-size: 22px;
    padding: 32px 20px;
    border: none;
    font-weight: 400;
    color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


textarea{
    height: 15vh;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 22px;
    border: none;
    font-weight: 400;
    color: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-self: flex-start;
}

form button{
    width: 200px;
    height: 60px;
    color: white;
    border: none;
    background-color: #6bb7be;
    font-size: 20px;
}

.form-btn:hover{
    border:1px solid  #6bb7be;
    color: #6bb7be;
    background-color: transparent;

}

footer{
    background-color: #191e1f;
    color: white;
}



.fc{
    width: 100%;
    padding: 40px;
}

.bs{
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

.bx1{
    justify-content: space-around;
    font-size: 25px;
    flex-wrap: wrap;
   
}

.bx2{
    justify-content: space-around;
    
    flex-wrap: wrap;
   
}

.bx1 i{
    
    font-size: 40px;
}
.call{
    width: 33.33%;
    align-self: center;
    padding: 10px;
}
.call1{
    padding: 30px;
}

.links{
 flex-wrap: wrap;
}

.link1{
  flex-direction: column;
  width: 50%;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.link2 a{
    margin: 5px 0px;
}
.link1 a{
    margin: 5px 0px;
}

.link2{
    flex-direction: column;
    width: 50%; 
    flex-wrap: wrap;
    padding: 20px 0px;
}

.f1,.f2{
    width: 30%;
    padding:0px 40px;
}

.f3{
    width: 40%;
    padding: 0px 40px;
}

.input input{
    width: 100%;
    height: 0px;
    background-color: cornsilk;
    font-size: 20px;
    padding: 30px;
    margin: 10px 0px;
}

.footer-btn button{
    background-color: #6bb7be;
    color: white;
    margin: 10px 0px;
    font-size: 20px;
    width: 180px;
    height: 60px;
    font-weight: 700;
    border: none;
}


.footer-btn:hover button{
    border:1px solid  #6bb7be;
    color: #6bb7be;
    background-color: transparent;

}




.facebook i{
    padding: 10px;
    border: 2px solid #6bb7be;
    font-size: 30px;
    color: #6bb7be;
    border-radius: 5px;
   
}

.facebook{
    padding-right: 20px;
}

.links a{
    
    text-align: left;
    text-decoration: none;
    color: white;
    font-size: 20px;
}




.icon{
    margin: 40px 0px;
   
}


.facebook:hover i{
   background-color: #6bb7be;
    color: #191e1f;
  

}

.link1 :hover {
    color: orange;
}

.link2 :hover {
    color: orange;
}
.call :hover {
    color: orange;
}


.feed{
    width: 100%;
    padding: 10px;
    flex-wrap: wrap;
}

.feeds{
    width: 33.33%;
    padding: 5px;
}

.feed-img{
    width: 100%;
    padding: 20px;
    height: 100px;
    background-color: white;
}

.feed-img img{
    width: 100%;
    height: 100%;
   
}

.bx1{
    text-align: center;}

.price-btn1 button{
    width: 160px;
    margin-top: 20px;
    height: 45px;
    font-size: 16px;
    color: WHITE;
    border: none;
    background: #6bb7be;

}

.price-btn1:hover button{
    border:1px solid  #6bb7be;
    color: #6bb7be;
    background-color: transparent;

}